.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}

.container-fluid img{
  /* Full height */
  width: 100%;
  height: 89vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid{
  height: 80vh;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color: red;
font-weight: bold;
}
